// colors and fonts


$Primary-Soft-Red: hsl(7, 99%, 70%);
$Primary-Yellow: hsl(51, 100%, 49%); 
  // graphic design text
$Primary-Dark-Desaturated-Cyan: hsl(167, 40%, 24%); 
$Primary-Dark-Blue-Photography-Text: hsl(198, 62%, 26%);
$Primary-Dark-Moderate-Cyan-Footer: hsl(168, 34%, 41%);
$Neutral-Very-Dark-Desaturated-Blue: hsl(212, 27%, 19%); 
$Neutral-Very-Dark-Grayish-Blue: hsl(213, 9%, 39%); 
$Neutral-Dark-Grayish-Blue: hsl(232, 10%, 55%); 
$Neutral-Grayish-Blue: hsl(210, 4%, 67%);  
$Neutral-White: hsl(0, 0%, 100%);


// heading

$font-heading: 'Fraunces',
serif;
$font-body: 'Barlow',
sans-serif;